.alert-message{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-weight: bold;
  padding: 2em;
  background-color: #333;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  opacity: 0;
}
.alert-message.active{
  opacity: 1;
}
.alert-message.error{
  color: tomato;
}
.alert-message.success{
  color: seagreen;
}
.alert-message.info{
  color: dodgerblue;
}